.mtc-dbrd{    
    padding: 0 0.625rem 2.813rem 0.625rem;
}
.box-bdb-686EFF{
    border-bottom: 0.125rem solid var(--clr686EFF);
}
.box-bdb-FDB528{
    border-bottom: 0.125rem solid var(--clrFDB528);
}
.box-bdb-FF4D49{
    border-bottom: 0.125rem solid var(--clrFF4D49);
}
.box-bdb-29C7F9{
    border-bottom: 0.125rem solid var(--clr29C7F9);
}