.mtc-hd-src{
    float: left;
    height: 100%;
    width:calc(100% - 5.625rem);
    padding-right: .625rem;
}
.mtc-hd-src-inp{
    float: left;
    height: 100%;
    width:calc(100% - 3.5rem);
    display: flex;
    align-items: center;
}
.mtc-hd-src-icn{
    float: left;
    height: 100%;
    width: 3.5rem;
    display: flex;
    align-items: center;
    /*background-color: red;*/
}
.mtc-hd-inp{
    width: 100%;
    height: calc(100% - 1.063rem);
    color: #777;
    border: 0.063rem solid #c8c8c8;
    border-right: 0;
    background-color: #f0f0f0;
    outline: none;
    padding:0px 0.625rem;
}
.mtc-hd-icn{
    height: calc(100% - 1.063rem);
    width: 100%;
    color: #636578;
    border: 0.063rem solid #c8c8c8;
    border-left: 0;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mtc-hd-icn:hover{
    background-color: #e6e6e6;
}
@media (min-width: 450px){
    .mtc-hd-src{
        width:calc(100% - 15.625rem);
    }
}
@media (min-width: 1300px){
    .mtc-hd-src{
        padding-right: 0;
        width:calc(100% - 15rem);
    }
}