.mtc-hd{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6.375rem;
    background-color: #fff;
}
.mtc-hd-center{
    height: 3.375rem;
    width: 100%;
    max-width: 81.25rem;
    margin: 0 auto;
}
.mtc-mn-bg{
    background-color: #0a152f;
    height: 3.05rem;
}